<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Typed.js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>

    <title>Alumni Management System/Contact</title>
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: block;
}
</style>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Alumni Management</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
     <div class="d-flex py-3 py-lg-0">

                        <a href="/register"
                           class="btn bg-warning rounded-2 order-0 varela-round-00 fnt-size-16 login-btn text-btn-login"
                           style="line-height:1.0;">
                            Register
                        </a>
					</div>

</nav>

<section class="home" id="home">
    <h1 style="background-color :white">JSMP's Jayawantrao Sawant College Of Engineering</h1>
    <hr width="500%" >
    <div class="shape"></div>
</section>
<!-- home section ends -->


<!-- footer section starts  -->
<div >
    <div class="box-container">
        <div class="box"><br>
            <h3 >&nbsp; Branch Locations</h3>
            <a href="https://jspmjscoe.edu.in/about/jspm-hadapsar-campus" target="_blank">&nbsp;Hadpasar Pune  |</a>
            <a href="https://www.jspmjscoe.edu.in/about/jspm-wagholi-campus" target="_blank">Wagholi Pune  |</a>
            <a href="https://www.jspmrscoe.edu.in/" target="_blank">Tathawade Pune</a>
        </div>


    </div>

</div>


<!-- footer section ends -->

<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>






    <!-- Typed.js DONT TOUCH THIS! -->
 <div id="typed-strings">
  </div>


  <!-- Footer-->
<footer class="footer">
     <div class="box">
            <h3>Contact Info :</h3>
            <p> <i class="fas fa-map-marker-alt"></i>Survey No. 58, Indrayani Nagar, Handewadi Road, Hadapsar, Pune-411028 </p>
         <p> <i class="fas fa-envelope"></i> <a href="mailto:principal@jspmjscoe.edu.in"><h3>Mail Us</h3></a></p>
            <p> <i class="fas fa-phone"></i> +91 9850058271 </p>
         <h3 class="credit">All Rights Reserved</h3>
        </div>
    </div>

</div>
  <div class="container">
    <span class="text-light"> Alumnimanagementsystem.com </span>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>